#main.container {
	margin-top: -19px;
    text-align: center;
    background: #2F4F51;
    border-radius: 117px;
    color: darkred;
}
.navbar-inner h1 {
    font-size: 42.5px;
    text-align: center;
    color: darkslategrey;
    margin: 12px;
}
.container:after {
    clear: both;
    margin-bottom: 1px;
}
.navbar-inner h1:hover {
  background-color: darkred;
}
.btn-primary {
    margin: 28px;
    border: 7px;
    }

.disabled
{
  opacity: 0.5;
}
.navbar-inverse{

}

#message {
    margin-top: 1em;
    color: darkred;
}

#preference-pane
{
  margin-top: 2em;
}

#player-type-forms
{
  display: inline-block;
}
#black-player-level,
#white-player-level
{
  width: auto;
}
#swap-player-types-button
{
  position: relative;
  top: -2em;
}

#add-new-ai-button
{
  display: inline-block;
  margin-bottom: 10px;
}

#game-board > table
{
  margin: 0 auto;
}

#game-board > table th
{
  margin: 0;
  padding: 0.125em 0.25em;
  line-height: 100%;
}

#game-board > table .cell
{
  background: #090;
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
  line-height: 0;
}
#game-board > table .cell.attackable
{
  cursor: pointer;
}
#game-board > table .cell.attackable:hover
{
  background: #cc0;
}

#game-board > table .cell > .disc
{
  display: inline-block;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  margin: 0.25em;
}
#game-board > table .cell.white > .disc
{
  background: #fff;
}
#game-board > table .cell.black > .disc
{
  background: #000;
}
#game-board > table .cell.attackable > .disc
{
  opacity: 0.2;
}
#game-board > table .cell.attackable:hover > .disc
{
  opacity: 1.0;
}
